body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(225deg, #B452C2 40%, #6259CC 60%);
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 27px;
  border: none;
  cursor: pointer;
}

.save-btn {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: white;
  color: black;
}

th, td {
  padding: 12px;
  text-align: center;
}
tr{
  color: #8d0606;
}
th {
  background-color: #36304C;
  color: white;
  font-size: 11px;
  font-weight: normal;
  width: 10px;
}
